.card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 300px;
  position: relative;
}

.product-card-image {
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.2s;
}

.product-card-image:hover {
  transform: scale(1.03);
  filter: grayscale(100%);
}


.product-card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
  top: 10ch;
}