.footer {
	box-sizing: border-box;
	width: 100%;
  margin-top: 10ch;
  border-top: 1px solid grey;
	background-color: white;
	color: #000;
	padding:  5vh 6.25vh;
  display: grid;
	grid-template-columns: 1fr 10fr 1fr;
}

h3 {
  font-weight: 400;
}

.main {
	display: grid;
	grid-template-rows: 1fr;
  grid-gap: 10px;
}

.links {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
  place-items: center;
  align-items: start;
}

.menu {
	margin-block-start: 0;
	padding-inline-start: 0;
}

.menu-list {
	color: grey;
	list-style: none;
	padding: 20px 0px;
}

.list {
	padding: 10px 0px;
	line-height: 1em;
}

.imageContent {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-gap: 40px;
}

.message {
	font-weight: 600;
	font-size: medium;
	color: grey;
	text-align: center;
}

.message2 {
	font-weight: 600;
	font-size: small;
	color: grey;
	text-align: center;
}

a {
  color: grey;
  padding-bottom: 4px;
  border-bottom: 1px dotted #fff;
}

.social {
  display: grid;
  place-items: center;
}